/*----------------------------------------*/
/*  10. OFFCANVAS CSS START
/*----------------------------------------*/

/* Offcanvas styles */
.offcanvas__area {
  position: fixed;
  top: 0;
  right: -300px;
  /* Initially hidden */
  width: 300px;
  height: 100%;
  background-color: #f8f9fa;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease;
  overflow-y: auto;
  z-index: 99999;
  display: none;

  @media #{$lg} {
    display: block;
  }
}

.offcanvas__area.left {
  left: -300px;
  /* Initially hidden */
  transition: left 0.3s ease;
}

/* Show the offcanvas by changing left position */
.offcanvas__area.show {
  right: 0;
}

.offcanvas__area.left.show {
  left: 0;
}



.offcanvas {
  &__area {

    .offcanvas {
      min-height: 100vh;
      text-align: center;
      padding: 75px 50px;
      overflow-y: auto;

      @media #{$xl} {
        padding: 50px 40px;
      }

      @media #{$lg} {
        padding: 40px 30px;
      }

      @media #{$sm} {
        padding: 20px 15px;
      }
    }
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    padding: 0 10px;
    z-index: 99;

    &:hover {
      color: var(--primary);
    }
  }

  &__logo {
    position: relative;
    padding-bottom: 140px;

    @media #{$xl} {
      padding-bottom: 70px;
    }

    @media #{$lg} {
      padding-bottom: 25px;
    }

    @media #{$sm} {
      padding-bottom: 25px;
    }

    img {
      max-width: 150px !important;
    }

    .desc {
      margin-top: 40px;

      @media #{$lg} {
        margin-top: 20px;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    p {
      @media #{$lg} {
        // display: none;
      }
    }
  }

  &__menu {
    &-area {
      // height: 560px;
      overflow: hidden;
      overflow-y: auto;

      @media #{$lg} {
        display: block;
      }

      @media #{$sm} {
        // height: 600px;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 20px;
    text-transform: capitalize;
  }

  &__gallery {
    position: relative;
    padding-bottom: 140px;

    @media #{$xl} {
      padding-bottom: 70px;
    }

    @media #{$lg} {
      // display: none;
    }
  }

  &__media {
    @media #{$lg} {
      // display: none;
    }

    li {
      display: inline-block;

      a {
        display: block;
        color: var(--gray);
        font-size: 20px;
        padding: 0 10px;

        &:hover {
          color: var(--primary);
        }
      }
    }
  }
}


// gallery
.gallery {
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  &__item {
    position: relative;

    a {
      display: block;

      &:hover {
        span {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    span {
      color: var(--white);
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;
      background: rgba(0, 0, 0, 0.4);
    }
  }
}


// Mobile Menu CSS
.offcanvas__menu-wrapper.mean-container {

  .remove-default-icon i {
    display: none;
  }

  .dp-menu {
    background-color: transparent !important;
  }

  .mean-nav>ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: block !important;

    >li:last-child>a {
      border-bottom: 1px solid var(--white-4);
      border: none;
    }
  }

  .mean-nav {
    background: none;
    margin-top: 0;

    .new {
      font-size: 10px;
      font-weight: 600;
      background: #FFA38E;
      color: var(--black-2);
      padding: 3px 7px;
      line-height: 1;
      display: flex;
      align-items: center;
      border-radius: 2px;
    }

    ul {

      li {
        a {
          width: 100%;
          padding: 20px 0;
          font-weight: 400;
          font-size: 20px;
          line-height: 1;
          color: var(--black-2);
          text-transform: capitalize;
          display: flex;
          gap: 8px;
          justify-content: flex-start;
          align-items: center;
          outline: none;
          transform: translateY(var(--y)) translateZ(0);
          transition: transform .4s ease, box-shadow .4s ease;
          box-sizing: border-box;
          border: none;

          svg {
            display: none;
          }

          &:hover {
            background-color: transparent;
          }

          @media #{$sm} {
            padding: 15px 0;
            font-size: 18px;
            padding-inline-start: 15px;
          }

          &.mean-expand {
            width: 64px;
            height: 40px;
            font-weight: 300;
            border: none !important;
            background-color: transparent;
            justify-content: flex-end;

            @media #{$sm} {
              height: 40px;
            }

            &:hover {
              background-color: var(--white-4);
              background-color: transparent;
              opacity: 1;
            }
          }
        }

        li {
          &:first-child {
            border: none;
          }

          a {
            opacity: 1;
            text-transform: capitalize;
            border-top: none !important;
            padding: 12px 0 12px 20px;
            border: none;

            @media #{$sm} {
              font-size: 18px;
              padding: 10px 0 10px 25px;
            }

            &.mean-expand {
              height: 39px;

              @media #{$sm} {
                height: 39px;
              }
            }
          }

          li {
            &:last-child {
              border: none;
            }

            a {
              padding-left: 40px;
            }
          }
        }
      }
    }
  }

  .open-offcanvas {
    cursor: pointer;
  }

  .mean-bar {
    padding: 0;
    background: none;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px #ddd;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--primary);
      border-radius: 10px;
    }
  }

  a.meanmenu-reveal {
    display: none !important;
  }
}

// scrollbar
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #D6D6D6;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.offcanvas__menu-wrapper.mean-container .mean-nav ul li a {
  padding: 12px 0;
}


.offcanvas__media svg {
  width: 1em;
  height: 1em;
}

.offcanvas__area .offcanvas {
  overflow-y: auto;
}



@media (max-width: 767px) {
  .offcanvas.offcanvas-end {
    border-left: none !important;
  }
}